   .header {
      padding: 20px 0;
      text-align: center;
    }
    
    .logo-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
    }
    
    .logo {
      width: 80px;
      height: auto;
    }
    
    .logo-text {
      text-align: center;
    }
    
    .arabic {
      font-weight: bold;
      font-size: 20px;
    }
    
    .english {
      font-size: 16px;
      color: #666;
      
    }